{% extends "base/base.html" %}
{% load static %}
{% block css_js %}
<!link rel="stylesheet" href="{% static 'bookings/css/styles.css' %}" /--!>
{% endblock %}
{% block title %}R3 Environment Management Tool{% endblock %}
{% block sub_navbar %}
<nav class="navbar navbar-inverse" role="navigation" id="submenu">
     <ul class="nav navbar-nav" id="test_automation">
        <li {% if request.resolver_match.url_name == 'test_runs' %} class='active' {% endif %}><a href="{% url 'test_automation:test_runs' %}">Test Runs</a></li>
    </ul>
</nav>
{% endblock %}
{% block content %}
    <div class="container">
    {% block page_content %}
    {% endblock %}
    </div>
{% endblock %}
