{% extends 'delivery_db/base.html' %}
{% load macros %}
{% loadmacros 'delivery_db/macros.html' %}
{% block page_content %}
{% usemacro nextview "delivery_db:system_version_add" "Add System Or Version" "system-version-form-id" %}

<div class="accord container" style="border-top:20px solid white;position:fixed;z-index:10;background-color:white;padding-bottom:5px;" ng-init="getSystems()">
    <div class="row">
        <span class="col-sm-1"></span>
        <span class="col-sm-8 jumbotron" style="margin-bottom:20px;"><h3 class="lead text-center" style="margin:0px 5px">List of Systems</h3></span>
    </div>
    <div class="row text-center" ng-init="onLoading()">
      <div class="col-sm-10">{% usemacro loading %} </div>
    </div>
    <div class="row" ng-show="show" ng-cloak>
        <span class="col-sm-1"></span>
        <span class="col-sm-4 accord-title bg-primary">
            {% usemacro columnSort "System Name" "system_name" %}
        </span>
        <span class="col-sm-4 accord-title bg-primary">
            {% usemacro columnSort "System Short Name" "system_short_name" %}
        </span>
    </div>
    <div class="row" ng-show="show" ng-cloak>
        <span class="col-sm-1"></span>
        <span class="col-sm-4" style="padding:0px;">
            {% usemacro columnFilter "Search System" "searchCol.system_name" %}
        </span>
        <span class="col-sm-4" style="padding:0px; margin-left:5px;">
            {% usemacro columnFilter "Search Short Name" "searchCol.system_short_name" %}
        </span>
    </div>
</div>
<div class="accord container" style="margin-top:90px; margin-left:0px; padding-top:66px;z-index:5; overflow:auto;" ng-cloak>
    <ul class="accordion" >
        <li>
          <a ng-repeat-start="system in systems | orderBy:sortType:sortReverse | filter:searchCol" class="accordion-toggle" href="javascript:void(0);"
    style="z-index:0; margin:0px;">
            <div class="row">
              <span class="col-sm-1 text-right accord-icon" id="system-(~ system.system_id ~)" ng-if="system.system_versions.length > 0"><i class="indicator glyphicon glyphicon-plus-sign top-5"
ng-click="getSystemElementById(system.system_id)"></i></span>
              <span class="col-sm-1" ng-if="!system.system_versions.length > 0"></span>
              <span class="col-sm-4 accord-text">(~ system.system_name ~)</span>
              <span class="col-sm-4 accord-text" style="margin-left:5px;">(~ system.system_short_name || "Null" ~)</span>
            </div>
          </a>
         
          <ul class="inner" ng-cloak> 
                 
              <li ng-if="system.system_versions.length > 0">
                <div class="row">
                    <span class="col-sm-1"></span>
                    <span class="col-sm-3 accord-title bg-info">
                          <strong>System Version Name</strong>
                    </span>
                    <span class="col-sm-3 accord-title bg-info">
                         <span  ng-init="sortType1='creation_date'; sortReverse1 = !sortReverse1"><strong>Creation Date</strong></span>
                    </span>
                </div>
                <a ng-repeat-start="system_ver in system.system_versions | filter: filterByDate | orderBy:sortType1:sortReverse1" class="accordion-toggle"  style="padding-left:0px;z-index=0;margin:0px;">
                  <div class="row">
                 
                    <span class="col-sm-1 text-right accord-icon" id="system-version-(~ system_ver.system_version_id ~)" ng-if="system_elements.length>0"><i class="indicator glyphicon glyphicon-plus-sign top-5"
ng-click="getSystemElementComponentsById(system_ver.system_version_id)"></i></span>
                    <span class="col-sm-1" ng-if="!system_elements.length>0"></span>
                    <span class="col-sm-3 text-left accord-inner-text">(~ system_ver.system_version_name ~)</span>
                    <span class="col-sm-3 text-left accord-inner-text">(~ system_ver.creation_date | date: 'yyyy-MM-dd HH:mm:ss Z':'+0000' ~)</span>
                  </div>
                </a>
                <ul class="inner">
                    <li ng-if="sys_element_components.length > 0">
                       <div class="row">
                            <span class="col-sm-1"></span>
                            <span class="col-sm-3 accord-title bg-info">
                                <strong>System Element Name</strong>
                            </span>
                        </div>
                        <a ng-repeat-start="system_elem in system_elements | filter: filterInVer"  class="accordion-toggle"  style="padding-left:0px;z-index=0; margin:0px;">
                          <div class="row" >
                            <span class="col-sm-1 text-right accord-icon" id="system-element-(~ system_elem.system_element_id ~)" ng-if="system_elem"><i class="indicator glyphicon glyphicon-plus-sign top-5"></i></span>
                            <span class="col-sm-1" ng-if="!system_elem"></span>
                            <span class="col-sm-3 text-left accord-inner-text">(~ system_elem.system_element_name ~)</span>
                            <span class="col-sm-2 text-centet"><button type="submit" class="btn btn-sm btn-primary" id="deploy-(~ system_elem.system_element_id ~)" ng-click="requestDeployment(system_elem.system_element_id, system_ver.system_version_id)" value="Request Deployment">Request Deployment</button></span>
                          </div>
                        </a>
                        <ul class="inner">
                            <li  ng-if="system_elem">
                                <div class="row accordion-toggle">
                                    <div  class="col-sm-1"></div>
                                    <div class="col-sm-11 table-responsive" style="margin-top: 2px;">
                                        <table class="table table-bordered table-condensed" >
                                            <thead class="bg-warning">
                                               <tr>
                                                   <th>Component Name</th>
                                                   <th>Component Version Name</th>
                                                   <th>Component Short Name</th>
                                                   <th>Component Type</th>
                                                   <th>Artefact Store URL</th>
                                                   <th>Artefact Store Type</th>
                                                   <th>Code Repo URL</th>
                                                   <th>Tag</th>
                                                   <th>Stable Flag</th>
                                                   <th>Creation Date</th>
                                                   <th>Deployment Type</th>
                                                   <th>Component Deployment Order</th>
                                                   <th>Linked CI Flag</th>
                                               </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="comp_ver in sys_element_components |filter:{system_element_id: system_elem.system_element_id} ">
                                                    <td>(~ comp_ver.component_version.component.component_name ~) </td>
                                                    <td>(~ comp_ver.component_version.component_version_name ~) </td>
                                                    <td>(~ comp_ver.component_version.component.component_short_name ~) </td>
                                                    <td>(~ comp_ver.component_version.component.component_type.component_type_description ~) </td>
                                                    <td>(~ comp_ver.component_version.artefact_store_url ~) </td>
                                                    <td>(~ comp_ver.component_version.artefact_store_type.artefact_store_type_desc ~) </td>
                                                    <td>(~ comp_ver.component_version.source_code_repository_url ~) </td>
                                                    <td>(~ comp_ver.component_version.source_tag_reference ~) </td>
                                                    <td>(~ comp_ver.component_version.stable_flag ~) </td>
                                                    <td>(~ comp_ver.component_version.creation_date ~) </td>
                                                    <td>(~ comp_ver.component_version.component.deployment_type.deployment_type_description ~) </td>
                                                    <td>(~ comp_ver.install_order ~) </td>
                                                    <td>(~ comp_ver.component_version.component.linked_ci_flag ~) </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div ng-repeat-end style="display:hidden;"></div>
                    </li>
                </ul>
                <div  ng-repeat-end style="display:hidden;"></div>
              </li>
          </ul> 
          <div ng-repeat-end></div>
        </li>
    </ul>
</div>
{% endblock %}
