{% extends 'esmt_admin/base.html' %}
{% load bootstrap3 %}
{% load macros %}
{% loadmacros 'delivery_db/macros.html' %}
{% block page_content %}

{% usemacro nextview "esmt_admin:add_user" "Add User" "user-add-form-id" %}
{% usemacro prevview "esmt_admin:user_roles" "Back" "user-list-id" %}

<div style="padding-bottom:20px;">
    <h3 style="text-align:center;">User Management</h3>
</div>

<form class="form-horizontal my-form" data-toggle="validator" role="form" method="POST" data-url=" . ">
    {% csrf_token %}
    {% include 'delivery_db/abstract_form.html' %}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" id="btn-user-role-save" class="btn btn-primary" value="Add">Save</button>
        </div>
    </div>
</form>
<div class="alert fade in" id="alert" role="alert">
  <span class="alert-text"></span>
</div>
{% endblock %}
