{% extends 'release/base.html' %}
{% load macros %}
{% loadmacros 'delivery_db/macros.html' %}

{% block page_content %}
{% usemacro prevview "release:rtl" "Back" "rtl-list" %}

<div style="padding-bottom:20px; margin-top:50px;">
    <h3>Manage Route to Live</h3>
</div>

<form class="container form-horizontal my-form" data-toggle="validator" role="form" method="POST" data-url=" . " ng-init="get_release(); getApiDetails('environment_use')">
    {% csrf_token %}
    <div class="fieldWrapper" ng-cloak>
        <div class="form-group required">
            <label class="col-sm-2 control-label" for="id_release_name">Release name</label>
            <div class="col-sm-offset-2 col-sm-4">
                <select name="release_id" class="rel-sel form-control" ng-model="release" 
                        ng-options="rel.release_name for rel in (releases|orderBy:'release_name':false) track by rel.release_id"
                        id="id_release_name" ng-change="getSystemFromRelease();removeRTL(-1)">
                    <option value="">-- Select --</option>
                </select>
            </div>
        </div>
    </div>
    <div class="fieldWrapper" ng-cloak>
        <div class="form-group required">
            <label class="col-sm-2 control-label" for="id_system_name">System name</label>
            <div class="col-sm-offset-2 col-sm-4">
                <select name="system_id" class="form-control" ng-model="system"
                        ng-options="sys.system_name for sys in releaseSystems track by sys.system_id"
                        id="id_system_name" ng-change="removeRTL(-1)">
                    <option value="">-- Select --</option>
                </select>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="releaseSystems.length > 0 && system != undefined" style="padding-left:15px;" ng-cloak>
        <div class="col-sm-offset-2 btn btn-success" style="margin-bottom:10px;" ng-click="addRTL()" >Add RTL Item</div>
    </div>

    <div  ng-show="releaseSystems.length > 0 && system != undefined && rtls.length>0" class="row" style="margin: 0px 15px;" ng-cloak ng-init="getEnv()">
        <fieldset class="cust-border">
            <legend class="cust-border">Route to Live</legend>
            <div class="row" style="margin-left:5px;">
                <div class="col-sm-3 jumbotron">Environment Use</div>
                <div class="col-sm-3 jumbotron">Environment</div>
                <div class="col-sm-2 jumbotron">Order</div>
                <div class="col-sm-2 jumbotron">Critical</div>
            </div>
            <div class="fieldWrapper"  ng-repeat="rtl in rtls">
                <div class="form-group form-group-sm required" style="margin-left:5px;">
                    <div class="col-sm-3 dd-width">
                        <select name="environment_use_id-(~ $index ~)" class="form-control" ng-model="rtl.env_use" ng-options="eu.environment_use_name for eu in apiResponse.environment_uses track by eu.environment_use_id" required>
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                    <div class="col-sm-3 dd-width">
                        <select ng-disabled="!rtl.env_use" name="environment_id-(~ $index ~)" class="form-control" ng-model="rtl.env" ng-options="env.environment_name for env in (environments|filter:{'system':{'system_id': system.system_id }}) track by env.environment_id" required>
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input style="text-align:center;" type="number" name="order-(~ $index ~)" autocomplete="off" class="form-control" required placeholder="" max="20" min="1" ng-model="rtl.order"
ng-change="checkCritical($index)" title="" />
                    </div>
                    <div class="col-sm-2" style="text-align:center;">
                        <input ng-disabled="!rtl.order" type="checkbox" name="critical-(~ $index ~)" ng-model="rtl.critical" checked="" id="id_critical-(~ $index ~)"
ng-click="checkCritical($index)">
                    </div>

                    <div class="col-sm-2">
                     <span ng-show="rtls.length >1" class="remove lead text-danger"  ng-click="removeRTL($index)"><span class="glyphicon glyphicon-minus-sign"
style="padding-right:5px;"></span></span>
                     <span ng-show="$last" class="addComp lead text-success" ng-click="addNewRTL($index)"><i class="text-success glyphicon glyphicon-plus-sign"></i></span>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div ng-if="rtls.length>0" class="form-group" ng-cloak>
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" id="btn-manage-rtl-save" class="btn btn-primary" value="Save">Save</button>
        </div>
    </div>
</form>
{% if resp_data %}
<div class="alert alert-success fade in show" id="alert" role="alert">
  <span class="alert-text">RTL successfully Created - ID : {{resp_data}}</span>
{% else %}
<div class="alert fade in" id="alert" role="alert">
  <span class="alert-text">{{resp_data}}</span>
{% endif %}
</div>

{% endblock %}
